%h3
  .span6.offset3.hero-unit.center
    Taskamster is an easy way to organize Your everyday to-do's and work on Your habits. 
    It's simple and intuitive, but gives You every necessery tool ! 
    %br
    so
    %br
    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" 
    %br
    or
    %br
    = link_to "Sign in!", signin_path, class: "btn btn-primary btn-large"
