<div class="center hero-unit">
  <h2>Welcome to the Task Master</h2>

  <h3>
    designed to simplify Your daily tasks
  </h3>
<div class="row">
<p class="span5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel dui a enim accumsan malesuada in ac velit. Pellentesque ac diam a ante posuere ornare. Nunc et dui id velit vehicula ultricies. Integer et turpis vel dui pretium varius a in sem. Mauris eu purus augue. Donec tempus commodo felis, sit amet aliquam velit tempus at. Morbi orci magna, ultricies eget suscipit eu, luctus ac mi.

Aenean ut dignissim tellus. Donec lectus elit, elementum lobortis faucibus quis, tincidunt ac metus. Sed mattis purus nec mauris ultricies ullamcorper. Aliquam turpis justo, interdum in suscipit vel, ultricies id massa. Morbi vel mi eu ipsum lacinia mollis in at massa. Mauris et quam ac nunc vehicula tincidunt. Morbi pulvinar aliquam dolor. Nam lorem orci, commodo non laoreet et, vulputate quis est. Nunc nec ante non dui molestie gravida et et purus. Nullam eu ipsum eu neque tempus imperdiet at ut augue. Cras a ipsum mi. Suspendisse ornare porttitor massa. Etiam volutpat mattis massa, ornare volutpat libero ullamcorper at. Suspendisse sapien neque, malesuada sed sollicitudin vel, malesuada id lectus.

Sed dictum nisi ac enim euismod non fermentum felis aliquet. Etiam sodales aliquet elementum. Quisque congue diam quis nulla vestibulum posuere. Aliquam posuere gravida lectus nec fringilla. Nunc porttitor pretium augue, eget congue nulla molestie quis. Ut vel libero dui, sit amet hendrerit nisi. Curabitur feugiat vehicula ligula quis volutpat. Etiam dolor turpis, lobortis ut mollis ut, euismod in turpis. In tincidunt velit ac nulla rhoncus sodales sit amet eu leo. Nam commodo, nisi fermentum lacinia lacinia, tortor justo gravida magna, sagittis adipiscing neque mi ac mauris. Nulla aliquet, dolor et luctus bibendum, eros dui lacinia metus, at fringilla turpis justo eget leo. Cras consectetur diam in odio faucibus porttitor. Suspendisse potenti. Phasellus sit amet malesuada ligula. Phasellus bibendum dignissim nulla nec tristique. Sed ultricies mi in felis pharetra non tristique mauris mollis.

Praesent nec consectetur purus. Maecenas dapibus rutrum ligula vitae fringilla. Quisque non neque quis leo laoreet laoreet ac imperdiet ante. Sed vel tellus odio, sit amet ornare sapien. Nullam sodales magna vestibulum nulla adipiscing facilisis. Nullam id ipsum mi. Vivamus quam turpis, congue sit amet mollis consequat, ullamcorper sit amet erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vel augue lorem, in mollis augue. Donec commodo porttitor eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Praesent dolor mauris, porttitor id scelerisque vel, luctus sit amet neque. Maecenas eget neque lectus, at hendrerit odio. Phasellus nec pellentesque nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque a enim quis nisl suscipit dapibus. Curabitur eleifend turpis congue leo sagittis at condimentum nisi tristique. Praesent volutpat tempus velit, vel dictum nisl fermentum nec. Praesent non nunc in dolor convallis malesuada id ac magna.
</p>
<p class="span4 offset1">
But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
</p>
</div>

  <h3>
    now get lost and let me finish this fucking app !
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

