

<div class="row span8">
<h5 class="span8">Bierzące zadania:</h5>
<div class="accordion span8 pull-left" id="accordion2">
  <% current_user.tasks.each do |task|%>
    <% if task.projects.first == @task && !task.completed?%>
      <%= render task%>
    <%end%>
  <%end%>
</div>
<%if @task.content%>
  <div class="span8">
  </div>
<%end%>
<br />
<h5 class="span8">Zadania wykonane:</h5>
<div class="accordion span8 pull-left" id="accordion3">
  <% current_user.tasks.each do |task|%>
    <% if task.projects.first == @task && task.completed?%>
      <%= render task%>
    <%end%>
  <%end%>
</div>
</div>
