  <h5>Bierzące zadania:</h5>
<div class="accordion" id="accordion1>">
    <% current_user.tasks.each do |task|%>
      <% if task.projects.first == @task && !task.completed?%>
        <%= render task%>
      <%end%>
    <%end%>
</div>
  <br />

  <h5>Zadania wykonane:</h5>
  <div class="accordion" id="accordion3">
    <% current_user.tasks.each do |task|%>
      <% if task.projects.first == @task && task.completed?%>
        <%= render task%>
      <%end%>
    <%end%>
  </div>
