

<h1><%= @task.name %></h1>

<div class="accordion" id="accordion2">
  <% current_user.tasks.each do |task|%>
    <% if task.projects.first == @task%>
      <%= render task%>
    <%end%>
  <%end%>
</div>

<h3><%= @task.content%></h3>
