<%provide(:title, @user.name) %>

<h4>Projekty:</h4>
<% @user.tasks.each do |task| %>
  <% if task.is_project?%>
    <div class="span12">
      <%= task.name %>
    </div>
    <br/>
  <% end %>
<% end %>


