<%provide(:title, @user.name) %>

<% if @user.projects.empty? %>
  <div style="text-align: center">
    <h2>No projects yet</h2>
    <%= link_to "new project", new_project_path, {:class => "btn btn-large btn-info"} %>
  </div>
<% else %>
  <h4>Projects:</h4>
  <% @user.projects.each do |project| %>
      <div class="span12">
        <%= render project %>
      </div>
      <br/>
  <% end %>

<% end %>
<br/><br/>
<% if @user.habits.empty?%>
  <div style="text-align: center">
    <h2>No habits yet</h2>
    <%= link_to "new habit", new_habit_path, {:class => "btn btn-large btn-info"} %>
  </div>
<% else %>
  <h4>Habits:</h4>
  <% @user.habits.each do |habit| %>
      <div class="span12">
        <%= render habit %>
      </div>
      <br/>
  <% end %>

<% end %>

