- @project.tasks.each do |task|
  = render task unless task.completed? || !task.task.nil?

%br
%br

%div{:style => "text-decoration: line-through;"}
  -@project.tasks.each do |task|
    = render task unless !task.completed?
