   <header class="row span12 offset1 navbar navbar-primary navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Task Master", '#', id: "logo", class: "row span2" %>
          <nav>
            <ul class="nav nav-pills pull-right">
              <li><%= link_to "Home", 	root_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Help",    help_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

