<div class="left-panel">

<%= 'current_project: ' + @current_project.name unless @current_project.nil?%>
<%= 'current_task: ' + @current_task.name unless @current_task.nil? %>

<h4>na dzisiaj:</h4>
<h4>na jutro:</h4>
<h4>zaległe:</h4>

</div>
